body {
    margin:0%;
    padding:0%;
    width: auto;
    display:flex;
    flex-direction: column;
    font-size:x-large;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.calculator {
    margin:1em;
    width:12em;
    height:22em;
    background-color: rgb(231, 223, 201);
    display:flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    border: solid .2em rgb(68, 68, 68);
    border-radius: 12px;
    box-shadow: 8px 7px rgba(0, 0, 0, 0.267);
    
}
.display {
    font-family:'Orbitron', sans-serif;
    font-weight: 700;
    font-style: normal;
    display:flex;
    flex-direction: row-reverse;
    width:9.5em;
    height: 8%;
    background-color: rgb(0, 0, 0);
    border: solid 3px rgb(163, 158, 144);
    border-radius: 12px;
    margin:2em;
    padding:.5em;
    padding-top:.5em;
    overflow:hidden;   
    text-overflow: clip;
}
.display,p {
    color:rgb(171, 255, 171);
    text-decoration: dashed underline overline;
    white-space: nowrap; /* Ensures the text stays on one line */
    overflow: hidden;    /* Hides content that doesn't fit */
    text-overflow: clip;
}
.keypadContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width:100%;

}
.keypad {
    display:flex;
    justify-content: flex-start;
    width: 8.4em;
    flex-wrap: wrap;
    margin-right:0%;
}
.keypadLeft {
    flex-direction: row;
    width:10px;
}
.keypadRight {
    flex-direction: column;
    align-items: center;
    margin-left: 0%;
    margin-right: 0%;
    width:2.8em;
}
.key {
    width:2.8em;
    height:2.8em;
    margin:.4em;
    flex-direction: column;
    background-color: rgb(182, 182, 182);
    display:flex;
    justify-content: center;
    align-content: center;
    margin-right:.5em;
    margin-top:.5em;
    text-align:center;
    flex-direction: column;
    padding:.3em;
    font-weight:bold;
    font-size: large;
    border-radius: 10%;
    box-shadow: 4px 4px rgb(182, 182, 182);
}
.wideKey {
    width: 6.4em;
    border-radius: 5%;
}
.longKey {
    height: 6.6em;
    border-radius: 5%;
}
.numKey {
    background-color: rgb(68, 68, 68);
    color:white;
}
#plusKey {
    background-color: rgb(177, 0, 0);
    color:white;
}
#dotKey {
    background-color: rgb(182, 182, 182);
}

.key.button {
    margin:0%;
    border: solid 3px rgb(0, 0, 0);
}